
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: #37B7C3;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .logo a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5em;
        }

        nav ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            margin-left: 20px;
            position: relative;
        }

        .user-menu {
            position: relative;
        }

        .user-icon {
            width: 28px;
            height: 25px;
            border-radius: 50%;
            background-color: #2D8C92;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            cursor: pointer;
            padding: 10px;
           

           
            z-index: 9999;
         } 

        .dropdown {
            display: none;
            position: absolute;
            top: 50px;
            
            right: 0;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            min-width: 150px;
            z-index: 999;
        }

        .dropdown a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #071952;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }

        .dropdown a:hover {
            background-color: #f0f0f0;
        }

        .user-menu.active .dropdown {
            display: block;
        }

        /* Ensure no clipping when icons are close to the edges */
        nav ul li:last-child {
            margin-right: 20px;
            /* Add space on the right side of the navigation */
        }

       

    
  